body {
    background-color: #3182ce;
}

.App {
    text-align: center;
    width: 400px;
    height: 90vh;
    margin: auto;
    /* background-color: white; */
}

.TaskList {
    left: -5%;
}

.CompletedTask {
    text-decoration: line-through;
    color: #A0AEC0;
}
