body {
    background-color: #3182ce;
}

.App {
    text-align: center;
    width: 400px;
    height: 90vh;
    margin: auto;
    /* background-color: white; */
}

.TaskList {
    left: -5%;
}

.Footer {
    /* background-color: #CBD5E0; */
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
}

.CompletedTask {
    text-decoration: line-through;
    color: #A0AEC0;
}
